.signup-form {
  width: 60%;
  margin: 2rem auto;
}
.signup-form-row {
  text-align: left;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.signup-form button {
  margin-top: 4rem;
  width: 150px;
}
.signup-form .MuiInputBase-input {
  width: 250px;
}
.signup-form .MuiSelect-select {
  width: 220px;
}
